<h1>Eat Da Burger!</h1>

<h2 id="createHead">Burger Just Created!</h2>

<div id="createdBurgers">
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/unless}}
  {{/each}}
</div>

<h2 id="devourHead">Burgers Devoured!</h2>

<div id="devouredBurgers">
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/devour-block devoured=true}}
  {{/if}}
  {{/each}}
</div>

<h2>Create a Burger</h2>
<form id="create-form" action="/burgers" method="POST">
  
  <div class="form-group" >
    <input type="text" id="createBox" name="burger_name">
  </div>

  <div>
  <button type="submit" class="createBurgerBtn" id="createBtn">Create Burger</button>
  </div>

</form>